body{
    background-color: rgb(45, 45, 49);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

div{
    text-align: center;
    padding: 8px;
}   

input[type=number]{
    height: 25px;
}

div#imgtxt{
    color: white;
}

