body{
    background-color: rgb(145, 186, 248);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
    font: bold 25px Arial;
    background: darkred;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
div#txt1{
    padding: 8px;
}
div#txt2{
    padding: 8px;
}
div#txt3{
    padding: 8px;
}
div#txt4{
    padding: 8px;
}
div#txt5{
    padding: 8px;
}
div#mark1{
    padding: 8px;
}